
<h2>Edit Class and Class Teachers </h2><br>

<br>
  

  
<table mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="border-radius: 250px;" width= 1000px>


    



 <ng-container matColumnDef="name">
   <th mat-header-cell *matHeaderCellDef> Class </th>
   <td mat-cell *matCellDef="let classes"> {{classes.name}} </td>
 </ng-container>


 <ng-container matColumnDef="classteacher">
   <th mat-header-cell *matHeaderCellDef> Class Teacher Name</th>
   <td mat-cell *matCellDef="let classes"> {{classes.classteacher}} </td>
 </ng-container>



 <ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef> Action </th>
  <td mat-cell *matCellDef="let classes">
  
    <button mat-raised-button color="primary" (click)="UpdateClass(classes._id)">Update</button>
    <button mat-raised-button color="warn" style="background-color: #f69223;" (click)="DeleteClass(classes._id)">Delete</button>
  </td>
</ng-container>

 


 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>















</table>
  
