<h2>Edit Classes and Class Teachers </h2><br>
<br>

<form>
    
    <br>


    <div class = "example-conatiner">
      
      <mat-form-field appearance="fill"  class= "width">
        <mat-label>Class</mat-label>
        <mat-select name="name">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">11</mat-option>
        </mat-select>
        
        
      </mat-form-field>
  
    <br>
    </div>
    <div class = "example-conatiner">
      
      
      <mat-form-field appearance="fill"  class= "width">
        <mat-label >Teacher's Name</mat-label>
        <mat-select name ="classteacher">
          <mat-option value="Ishara Bandara">Ishara Bandara</mat-option>
          <mat-option value="Sandali Silva">Sandali Sliva</mat-option>
          <mat-option value="Sachintha Dissanayake">Sachintha Dissanayake</mat-option>
        </mat-select>
        
        
      </mat-form-field>
    </div>
    
    
    
    <button (click)="createNewClass()" type="submit" class=" btn btn-primary" >Add Class</button>
  
    <button mat-stroked-button (click)="clear()" value="Reset">Reset</button>
    
 
      
    
    
  </form>

