
  <h2>Student Fees</h2>

  <br>
  
  <h4>Update Fees</h4>
  <br>

  <div class="container-fluid">
    <div class=row>
      <mat-form-field appearance="outline">
        <mat-label>Search name</mat-label>
        <input matInput (keyup)="applyFilterFees($event.target.value)" placeholder="Enter Grade or fees in Rs to find fees">
      </mat-form-field>
    </div>
  </div>


  <table mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="border-radius: 250px;" width= 1000px>


    


     
     <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Grade </th>
      <td mat-cell *matCellDef="let fees"> {{fees.grade}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="termfee">
      <th mat-header-cell *matHeaderCellDef> Term Fees </th>
      <td mat-cell *matCellDef="let fees"> {{fees.termfee}} </td>
    </ng-container>

  
    <ng-container matColumnDef="facilityfee">
      <th mat-header-cell *matHeaderCellDef> Facility Fees </th>
      <td mat-cell *matCellDef="let fees"> {{fees.facilityfee}} </td>
    </ng-container>



    <ng-container matColumnDef="librarycharges">
      <th mat-header-cell *matHeaderCellDef> Library Charges </th>
      <td mat-cell *matCellDef="let fees"> {{fees.librarycharges}} </td>
    </ng-container>


    <ng-container matColumnDef="laboratorycharges">
      <th mat-header-cell *matHeaderCellDef> Laboratory Charges </th>
      <td mat-cell *matCellDef="let fees"> {{fees.laboratorycharges}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="transportationfee">
      <th mat-header-cell *matHeaderCellDef> Transportation Charges </th>
      <td mat-cell *matCellDef="let fees"> {{fees.transportationfee}} </td>
    </ng-container>


    <ng-container matColumnDef="other">
      <th mat-header-cell *matHeaderCellDef> Other Charges </th>
      <td mat-cell *matCellDef="let fees"> {{fees.other}} </td>
    </ng-container>

    <ng-container matColumnDef="tot">
      <th mat-header-cell *matHeaderCellDef> TOTAL </th>
      <td mat-cell *matCellDef="let fees"> {{fees.termfee + fees.facilityfee + fees.librarycharges + fees.laboratorycharges + fees.transportationfee + fees.other }} </td>
    </ng-container>

  


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let fees">
      
        <button mat-raised-button color="primary" (click)="UpdateFee(fees._id)" >Update</button>
        <button mat-raised-button color="warn" style="background-color: #f69223;" (click)="DeleteFee(fees._id)">Delete</button>
      </td>
    </ng-container>

 



  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>








   






  </table>