<nav class="navbar sticky-top fixed-top navbar-light" style="background-color: #504f4f">
    <a class="navbar-brand"></a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button mat-raised-button color="primary" style="margin-right: 30px;">Search</button>
        <button mat-raised-button color="warn" style="background-color: #f69223;" (click)="logout()" >Logout</button>
    </form>
</nav>

<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header" style="text-align: center;">
        <img src="assets/images/logo.jpg" class="logo" alt="logo">
        <h6>Bright International School</h6>
        <p style="font-size: 14px; margin-top: 0; top: -8px; position: relative;">Management Dashboard</p>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a [routerLink]="['overview']">Overview</a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#stdSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
            <ul class="collapse list-unstyled" id="stdSubmenu">
                <li>
                    <a [routerLink]="['student/add']">Enroll</a>
                </li>
                <li>
                    <a [routerLink]="['student/update']">Update / Unenroll</a>
                </li>
                <li>
                    <a [routerLink]="['student/archive']">Student Archives</a>
                </li>
            
            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#teachSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Teachers</a>
            <ul class="collapse list-unstyled" id="teachSubmenu">
                <li>
                    <a [routerLink]="['teacher/add']">Add a teacher</a>
                </li>
                <li>
                    <a [routerLink]="['teacher/manage']">Manage details</a>
                </li>
            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#classSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Classes</a>
            <ul class="collapse list-unstyled" id="classSubmenu">
                <li>
                    <a [routerLink]="['classes/addc']">Add Class & Class Teachers</a>
                </li>
                <li>
                    <a [routerLink]="['classes/viewc']">Edit Details</a>
                </li>

            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#subSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subjects</a>
            <ul class="collapse list-unstyled" id="subSubmenu">
                <li>
                    <a [routerLink]="['subject/addsub']">Add Subjects & Teachers</a>
                </li>
                <li>
                    <a [routerLink]="['subject/updatesub']">Edit Details</a>
                </li>
   


            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#attSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Attendance</a>
            <ul class="collapse list-unstyled" id="attSubmenu">
                <li>
                    <a href="#attTchSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Teachers</a>
                    <ul class="collapse list-unstyled" id="attTchSubmenu">
                        <li>
                            <a [routerLink]="['attendance/teachers/create']">Mark</a>
                        </li>
                        <li>
                            <a [routerLink]="['attendance/teachers/view']">View</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#feesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fees</a>
            <ul class="collapse list-unstyled" id="feesSubmenu">
                <li>
                    <a [routerLink]="['fees/addfees']">Add Fees</a>
                </li>
                <li>
                    <a [routerLink]="['fees/updatefees1']">Update Fees</a>
                </li>
            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#noticeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Notices</a>
            <ul class="collapse list-unstyled" id="noticeSubmenu">
                <li>
                    <a [routerLink]="['notice/publish']">Publish</a>
                </li>
                <li>
                    <a [routerLink]="['notice/view']">View</a>
                </li>
            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#usrSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
            <ul class="collapse list-unstyled" id="usrSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>

            </ul>
        </li>
    </ul>
</nav>

<div class="inner-container">
    <router-outlet></router-outlet>
</div>