@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.logo{
width: 40px;
border-radius: 15px;
margin-bottom: 20px;
}

.inner-container {
    margin-left: 250px;
    padding: 40px;
}


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9000;
    background: #404040;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #404040;
}

#sidebar ul.components {
    padding: 20px 0 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 30px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #505050;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #505050;
}

/* hover background */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #505050;
}

.wrapper {
    display: flex;
    width: 100%;
    /* align-items: stretch; */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.active {
    
    color: white;
  }
  



  