<h2>Summery Report - Teachers Attendance</h2><br>

<form>
<div class="col-md-4 col-sm-12">
    <mat-form-field appearance="outline" class="width">
        <mat-label>Select Time Duration</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let duration of durations" [value]="duration">{{duration}}</mat-option>
        </mat-select>
    </mat-form-field>
</div><br>

<table mat-table [dataSource]="count" class="mat-elevation-z8">
  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let count"> {{count.date}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <!-- Attendance Count Column -->
  <ng-container matColumnDef="attendance">
    <th mat-header-cell *matHeaderCellDef> Attendance </th>
    <td mat-cell *matCellDef="let count"> {{count.attendance}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotal()}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table><br>
  
</form>