
<h2>Edit Subjects and Teachers </h2><br>

<br>
  
    
  
<table mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="border-radius: 250px;" width= 1000px>


    


     
  <ng-container matColumnDef="subjectname">
   <th mat-header-cell *matHeaderCellDef> Subject </th>
   <td mat-cell *matCellDef="let subjects"> {{subjects.subjectname}} </td>
 </ng-container>


 <ng-container matColumnDef="classname">
   <th mat-header-cell *matHeaderCellDef> Class </th>
   <td mat-cell *matCellDef="let subjects"> {{subjects.classname}} </td>
 </ng-container>


 <ng-container matColumnDef="teachername">
   <th mat-header-cell *matHeaderCellDef> Teacher Name</th>
   <td mat-cell *matCellDef="let subjects"> {{subjects.teachername}} </td>
 </ng-container>



 <ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef> Action </th>
  <td mat-cell *matCellDef="let subjects">
  
    <button mat-raised-button color="primary" (click)="UpdateSubject(subjects._id)">Update</button>
    <button mat-raised-button color="warn" style="background-color: #f69223;" (click)="DeleteSubject(subjects._id)">Delete</button>
  </td>
</ng-container>

 


 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>















</table>
  