<h2>Mark Teachers' Attendance</h2>
<div *ngIf="attendanceRecord">
  <div class="row" *ngFor="let record of attendanceRecord.records; let i = index;">
    <div class="col-md-6">
      {{teacherlist.teachers[i].name}}
    </div>
  <div class="col-md-6">
    <input type="checkbox" [(ngModel)]="record.isPresent" (change)="getCount()">
  </div>
  <br>
  <div class="row">
    <h4>Count : {{count}}</h4>
  </div>
  <div class="row">
     <button class="btn btn-primary" (click)="save()">Save</button>
    </div>
</div>
