<h2>Teacher Registration </h2><br>

<form>

    <div class="joining ">
        <h4 style="padding-top: 20px;">Registration Form</h4><br>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Teacher ID Number</mat-label>
                    <input matInput name="tid" placeholder="T012" disabled value="T200001">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Joined Date</mat-label>
                    <input matInput name="jdate" [errorStateMatcher]="TeacherErrorStateMatcher" [matDatepicker]="picker1" placeholder="3/6/2020">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>First Name</mat-label>
                    <input matInput name="fname" [errorStateMatcher]="TeacherErrorStateMatcher"  placeholder="Shenon">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Last Name</mat-label>
                    <input matInput name="lname" [errorStateMatcher]="TeacherErrorStateMatcher" placeholder="Silva">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="lwidth">
                    <mat-label>Address</mat-label>
                    <input matInput name="address" [errorStateMatcher]="TeacherErrorStateMatcher" placeholder="243B, Queen Street, Kandy">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" [errorStateMatcher]="TeacherErrorStateMatcher">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>NIC</mat-label>
                    <input matInput name="nic" [errorStateMatcher]="TeacherErrorStateMatcher" placeholder="1234567890">
                    </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput name="dob" [errorStateMatcher]="TeacherErrorStateMatcher" [matDatepicker]="picker" placeholder="mm/dd/yyyy">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Phone Number</mat-label>
                    <input matInput name="phone" [errorStateMatcher]="TeacherErrorStateMatcher" placeholder="0710000000" >
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Marital Status</mat-label>
                    <mat-select name="mstatus" [errorStateMatcher]="TeacherErrorStateMatcher">
                        <mat-option value="female">Single</mat-option>
                        <mat-option value="male">Married</mat-option>
                        <mat-option value="female">Widowed</mat-option>
                        <mat-option value="female">Divorced</mat-option>
                        </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput name="mphone" [errorStateMatcher]="TeacherErrorStateMatcher" placeholder="0710000000">
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Religion</mat-label>
                    <input matInput name="religion" [errorStateMatcher]="TeacherErrorStateMatcher"  placeholder="Bhuddist">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Email</mat-label>
                    <input matInput name="mail" placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
         </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Nationality</mat-label>
                    <input matInput name="nationality" [errorStateMatcher]="TeacherErrorStateMatcher" placeholder="Sinhalease">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="lwidth">
                    <mat-label>Qualifications</mat-label>
                    <input matInput name="qul" [errorStateMatcher]="TeacherErrorStateMatcher" >
                </mat-form-field>
            </div>
        </div>
    </div>
    <br>
    
    <button mat-stroked-button color = "warn">Reset</button>
    <button mat-raised-button color="primary">Add Teacher</button>
    
</form>
