.feetype{

    padding-top: 4%;
    width: 100%;
    height: 2000%;

}

.reset{

   
    background-color: red;
    color: white;
    margin-left: 100px;
    width: 110px;
}

.bt{

    margin-top: 50px;
    margin-left: 50px;
}