
  <h2>Student Fees</h2>

<br>

<h4>Add Fees</h4>
<br>
<form  class="example-form">

  


  <mat-form-field appearance="fill"  class= "width">
    <mat-label>Select Grade</mat-label>
    <mat-select name="grade" [(ngModel)]="grade">
      <mat-option value="Grade 01">Grade 01</mat-option>
      <mat-option value="Grade 02">Grade 02</mat-option>
      <mat-option value="Grade 03">Grade 03</mat-option>
      <mat-option value="Grade 04">Grade 04</mat-option>
      <mat-option value="Grade 05">Grade 05</mat-option>
      <mat-option value="Grade 06">Grade 06</mat-option>
      <mat-option value="Grade 07">Grade 07</mat-option>
      <mat-option value="Grade 08">Grade 08</mat-option>
      <mat-option value="Grade 09">Grade 09</mat-option>
      <mat-option value="Grade 10">Grade 10</mat-option>
      <mat-option value="Grade 11">Grade 11</mat-option>
      <mat-option value="Grade 12">Grade 12</mat-option>
      <mat-option value="Grade 13">Grade 13</mat-option>
  
    </mat-select> 
    
  </mat-form-field>

  <br><br>

  <h6>Term Fees</h6>

    <br>
  
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" class="example-right-align" required name="termfee" [(ngModel)]="termfee">
      <span matPrefix>Rs&nbsp;&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  <br>
  <br>
  <h6>Additional Fees (per term)</h6>

    <table class = "feetype">

      <tr>

        <td> Facility Fees</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" required name="facilityfee" [(ngModel)]="facilityfee">
            <span matPrefix>Rs&nbsp;&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

        </td>

      </tr>

      <tr>

        <td> Library Charges</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" name="librarycharges" [(ngModel)]="librarycharges"> 
            <span matPrefix>Rs&nbsp;&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

        </td>

      </tr>

      <tr>

        <td> Laboratory Charges</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" name="laboratorycharges" [(ngModel)]="laboratorycharges">
            <span matPrefix>Rs&nbsp;&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

        </td>

      </tr>


      <tr>

        <td>Transportaion Fees</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" name="transportationfee" [(ngModel)]="transportationfee" >
            <span matPrefix>Rs&nbsp;&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

        </td>

      </tr>



      <tr>

        <td> Other</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" name="other" [(ngModel)]="other">
            <span matPrefix>Rs&nbsp;&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

        </td>

      </tr>



    </table>





<br>

    <div class="bt">

      <button mat-raised-button color="primary" value="Submit"  (click)="createNewFee()">Add Fees</button>

      <br><br>

      <button mat-stroked-button (click)="clear()">Clear</button>
      


    </div>

 


</form>
