.topic {
  box-shadow: 0 4px 8px 0 #7c6c6c33;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.bg {
  box-shadow: 0 4px 8px 0 #7c6c6cb4;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
