
<div class="form-row">
    <div class="col-md-4">
        <mat-card class="stat-card" >
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <fa-icon class="stat-icon" [icon]="faUserGraduate"></fa-icon>
                    </div>
                    <div class="col-md-6">
                        <h6>STUDENTS</h6>
                        <h1>{{statistics.studentCount}}</h1>
                    </div>
                </div>
            </mat-card-content> 
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="stat-card">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <fa-icon class="stat-icon" [icon]="faChalkboardTeacher"></fa-icon>
                    </div>
                    <div class="col-md-6">
                        <h6>TEACHERS</h6>
                        <h1>{{statistics.teacherCount}}</h1>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="stat-card">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <fa-icon class="stat-icon" [icon]="faSchool"></fa-icon>
                    </div>
                    <div class="col-md-6">
                        <h6>CLASSES</h6>
                        <h1>{{statistics.classesCount}}</h1>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <mat-card class="chart-card" style="margin-left: 46px;">
                <mat-card-header>
                    <mat-card-title>Student Enrollments</mat-card-title>
                    <mat-card-subtitle>Students by gender by year</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <canvas *ngIf="!isLoading" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                                [legend]="barChartLegend" [chartType]="barChartType">
                            </canvas>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
         </div>

        <div class="col-md-6">
            <mat-card class="chart-card" style="margin-right: 46px;">
                <mat-card-header>
                    <mat-card-title>Teacher Attendance</mat-card-title>
                    <mat-card-subtitle>Available teachers today</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <canvas *ngIf="!isLoadingPieChart" baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                                [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                            </canvas>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>        
    </div>
       
</div>
<br>

  
 
        


        <div id="content" #content>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <mat-card class="chart-card" style="margin-left: 46px;" >
                            <mat-card-header>
                                <mat-card-title>No of students in a class</mat-card-title>
                                <mat-card-subtitle>Students by class by year</mat-card-subtitle>
                                <mat-card-subtitle>Primary Section</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas *ngIf="!isloading" baseChart [datasets]="BarChartData" [labels]="BarChartLabels" [options]="BarChartOptions"
                                            [legend]="BarChartLegend" [chartType]="BarChartType">
                                        </canvas>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>  
            </div>
        </div>            
<br>  
<button mat-raised-button color="primary" (click)="downloadPDF()">Export to PDF</button>
 