<form>

  <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="name"><br>
  <input type="text" name="classteacher" class="form-control" placeholder="classteacher" [(ngModel)]="classteacher"><br>
   <!--select class="form-control" name="class" placeholder="Class">
      <option [value]="classes._id" *ngFor="let class of classes">{{classes.name}}</option>
    </select><br>

    <select class="form-control" name="classteacher" placeholder="Class Teacher ">
        <option [value]="teachers._id" *ngFor="let teacher of teachers">{{teachers.name}}</option>
      </select--><br>

   <button class="btn btn-primary" (click)="saveClass()" *ngIf="!isOnUpdate">Add</button>
    <button class="btn btn-primary" (click)="updateClass()" *ngIf="isOnUpdate">Update</button>
  </form>
