<head>
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
</head>
<div class="heading">
    <h2>Bright International School</h2>
</div>
<img src="assets/images/logo.jpg" class="logo" alt="logo">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink = "/homepage">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/homepage/results">Results <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" [routerLink]="['noticeboard']">Noticeboard<span class="sr-only">(current)</span></a>
     </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Subjects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  href="#">Results <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Fees <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">My Profile <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button mat-raised-button color="primary" type="submit" style="margin-right: 30px;">Search</button>
        <button mat-raised-button color="warn" type="submit">Logout</button>
      </form>
    </div>
  </nav>





 
    
  
   
     
    
  
      
      
      <br><br><br>
     
<table style="width:100%" >
  <tr>
    <td>
      <h4>&nbsp;&nbsp;Gallery</h4>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <h4>Location</h4>
    </td>
  </tr>
</table>
      
   <table class="tbl">
    
     <tr>
       <td class="one">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
       
          <div class="carousel-inner">
           
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/images/bis2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/images/bis3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/images/bis4.jpg" alt="Second slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
       </td>
       <td>
         
        <img src="assets/images/map.png" class="map" alt="logo">
       </td>
     </tr>
   </table>

   <div class = "aim">

    <h4>About Us </h4>
    <br>

    <p> Bright International School is a private international school with branches in Maradana, Kolonnawa and Kandy.</p>
    <p> The schools are managed by Colombo Institute of Studies and headed by the chairman, Mr Zufer Ahamed. </p>
    <p> The schools have been in operation since the year 2009 and are approved by the Ministry of Education.</p> 
    <p> There is a total student population of approximately 1000 students.</p>
    
    
</div>


   
      <div class = "aim">

        <h4>Our Aim </h4>
        <br>
  
        <p>	To produce a generation of students who would continuously strive to sustain and improve their spiritual and moral awareness, simultaneously displaying wholesome individual characters qualifying themselves to be identified as  “The Righteous Generation of Sri Lanka” </p>
        
        <p> 	The enhance knowledge which is power </p> 
      
        <p> 	To widen the information which is liberating</p> 
        <p> 	To give education, is premise of progress </p>
        
    </div>


    <div class = "aim">

      <h4> Vision and Mission </h4>
      <br>

     
     
  
        <p>	To provide the best of modern education a loving, caring, harmonious & disciplined environment conducive to students of all different communities living in Sri Lanka.</p>
        <p> 	The enhance knowledge which is power </p> 
      
        <p> 	To blossom into a super grade International School within a religious environment.  </p> 
        
  
      
  </div>

<br><br>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Contact Us</h6>
          <p class="text-justify">Bright International School Colombo  </p>
          <p>466/5 N M. Ishak Mawatha</p>
           <p> 0112 682 855</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Branches</h6>
          <ul class="footer-links">
            <li>Maradana</li>
            <li>Kolonnawa</li>
            <li>Kandy</li>
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Follow Us</h6>
          <ul class="footer-links">
            <li><a href="http://www.facebook.com/Brightschools.lk/">Facebook</a></li>
            <li><a href="http://www.twitter.com">Twiiter</a></li>
          
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          
        </div>

      
      </div>
    </div>
</footer>



<router-outlet></router-outlet>