.width {
    width: 80%;
}

.lwidth {
    width: 90%;
}

.admission{
    background: #ffffff;
    border-radius: 10px;
}

form {
    margin-bottom: 40px;
}

form button {
    margin-right: 20px;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.admission{
    padding-left: 100px;
}