<h2>Student Registration </h2><br>

<form>

    <div class="admission ">
        <h4 style="padding-top: 20px;">Student Information</h4><br>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Admission Number</mat-label>
                    <input matInput name="ano" placeholder="S012" disabled value="S200001">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Admission Date</mat-label>
                    <input matInput name="adate" [matDatepicker]="picker1" placeholder="3/6/2020">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>First Name</mat-label>
                    <input matInput name="fn" [errorStateMatcher]="TaskErrorStateMatcher"  placeholder="Damon" [formControl]="FnFormControl">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Last Name</mat-label>
                    <input matInput name="ln" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="Salvatore" [formControl]="LnFormControl">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="lwidth">
                    <mat-label>Address</mat-label>
                    <input matInput name="address" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="221B, Baker Street, Colombo" [formControl]="AddressFormControl">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" [errorStateMatcher]="TaskErrorStateMatcher" [formControl]="GenderFormControl">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput name="dob" [errorStateMatcher]="TaskErrorStateMatcher" [matDatepicker]="picker" placeholder="3/6/2000" [formControl]="DobFormControl">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Nationality</mat-label>
                    <input matInput name="national" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="Sinhalease" [formControl]="NationalFormControl">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Religion</mat-label>
                    <input matInput name="religion" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="Bhuddist" [formControl]="ReligionFormControl">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Email</mat-label>
                    <input matInput name="mail" placeholder="pat@example.com" [formControl]="email" required [formControl]="MailFormControl">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <br>

    <div class="admission ">
        <h4 style="padding-top: 20px;">Parent/Guardian Information</h4><br>

        <p>1.Mother's Details</p>

        <div class="form-row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="lwidth">
                    <mat-label>Name</mat-label>
                    <input matInput name="mname" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="Mary Jean" [formControl]="MnameFormControl">
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Occupation</mat-label>
                    <input matInput name="mwork" placeholder="Manager" [formControl]="MworkFormControl">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Work Phone</mat-label>
                    <input matInput name="mwtp" placeholder="0714589632" [formControl]="MwtpFormControl">
                </mat-form-field>
            </div>

            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="lwidth">
                    <mat-label>Address</mat-label>
                    <input matInput name="madd" placeholder="221B, Backer Street, Colombo" [formControl]="MaddFormControl">
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Phone</mat-label>
                    <input matInput name="mtp" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="0174895874" [formControl]="MtpFormControl">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Email</mat-label>
                    <input matInput name="mmail" placeholder="pat@example.com" [formControl]="email" required [formControl]="MmailFormControl">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <p>2.Father's Details</p>

        <div class="form-row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="lwidth">
                    <mat-label>Name</mat-label>
                    <input matInput name="fname" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="John Salvatore" [formControl]="FnameFormControl">
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Occupation</mat-label>
                    <input matInput name="fwork" placeholder="Businessmen" [formControl]="FworkFormControl">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Work Phone</mat-label>
                    <input matInput name="fwtp" placeholder="0174895874" [formControl]="FwtpFormControl">
                </mat-form-field>
            </div>

            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="lwidth">
                    <mat-label>Address</mat-label>
                    <input matInput name="fadd" placeholder="221B, Backer Street, Colombo" [formControl]="FaddFormControl">
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Phone</mat-label>
                    <input matInput name="ftp" [errorStateMatcher]="TaskErrorStateMatcher" placeholder="0174895874" [formControl]="FtpFormControl">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="width">
                    <mat-label>Email</mat-label>
                    <input matInput name="fmail" placeholder="pat@example.com" [formControl]="email" required [formControl]="FmailFormControl">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

        </div>
    </div><br>
    <button mat-raised-button color="primary" [disabled]="FnameFormControl.hasError('required') || !FnameFormControl.value"
    (click)="createTask()">Add Student</button>
    <button mat-stroked-button>Clear</button>
</form>