.width {
  width: 80%;
}

.lwidth {
  width: 90%;
}

.admission {
  background: #ffffff;
  border-radius: 10px;
  padding-left: 100px;
  box-shadow: 0 4px 8px 0 #7c6c6c33;
}

form {
  margin-bottom: 40px;
}

form button {
  margin-right: 20px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
