<br>
<br>
<h2 style="text-align: center; font-family: 'IM Fell French Canon SC', serif;">Classes and Class Teachers</h2><br>
<br>

<div class ="maintb"> 
<div class="container-fluid">
  <div class=row>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter class / teacher name">
    </mat-form-field>
  </div>
</div>
<!--div class="list mat-elevation-z8" >
  <table mat-table [dataSource]="dataSource"-->


    <br>
    
<table mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >


    

<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef><b> Class </b></th>
  <td mat-cell *matCellDef="let classes"> {{classes.name}} </td>
</ng-container>


 <!--ng-container matColumnDef="name">
   <th mat-header-cell *matHeaderCellDef> Class </th>
   <td mat-cell *matCellDef="let classes"> {{classes.name}} </td>
 </ng-container-->


 <ng-container matColumnDef="teacher">
   <th mat-header-cell *matHeaderCellDef> Class Teacher Name</th>
   <td mat-cell *matCellDef="let classes">  {{classes.teacher && classes.teacher.fname}}  {{classes.teacher && classes.teacher.lname}} </td>
 </ng-container>



 
 


 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>















</table>
  
</div>

