

.heading{
    text-align: left;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 25px;
  }
.tableMarks{
    padding-left: 10%;
    padding-right: 10%;
    
}
th{
    padding-right: 75px;
}

td{
    padding-right: 75px;
}


.form{
    size: 6px 4px;
    padding-top: 0%;
    
}
