
<h4>Student Fees</h4>



<table class="sttype">
    <tr>
        <td>

            <h6>Grade 01 - 05 </h6>
        </td>

        <td>
            <div class="btnaddF">
                <button mat-button>Add Fees</button>
        
            </div>
        </td>

        <td>
            <div class="btnupdateF">
                <button mat-button>Update Fees</button>
        
            </div>

    </td>
    </tr>


    <tr>
        <td>

            <h6>Grade 06 - 09 </h6>
        </td>

        <td>
            <div class="btnaddF">
                <button mat-button>Add Fees</button>
        
            </div>
        </td>

        <td>
            <div class="btnupdateF">
                <button mat-button>Update Fees</button>
        
            </div>

    </td>
    </tr>

    <tr>
        <td>

            <h6>Grade 10 - 11 </h6>
        </td>

        <td>
            <div class="btnaddF">
                <button mat-button>Add Fees</button>
        
            </div>
        </td>

        <td>
            <div class="btnupdateF">
                <button mat-button>Update Fees</button>
        
            </div>

    </td>
    </tr>





</table>
    

    

