<h2>Add Classes and Class Teachers </h2><br>
<br>

<form [formGroup]="ClassForm">
    
    <br>


    
        <div class = "example-conatiner">
          
          <mat-form-field hintLabel="" appearance="fill" class= "width">
            <mat-label>Class</mat-label>
            <input matInput type="text" input maxlength="20" placeholder="Class" name="name" [(ngModel)]="name"formControlName="name" required>
            <mat-hint align = "end">   </mat-hint>
      </mat-form-field>
    </div>
        <br>
    
    <br>
    
    <div class = "example-conatiner">
      
    
      <mat-form-field appearance="fill"  class= "width">
        <mat-label >Teacher's Name</mat-label>
        <mat-select name="teachers" formControlName="teacher" required>
          <mat-option [value]="teacher._id" *ngFor="let teacher of teachers">{{teacher.fname}} {{teacher.lname}}</mat-option>
      </mat-select>
        
        
        
      </mat-form-field>

    </div>
    
    <br>
    
    
    <button mat-raised-button color="primary" (click)="createNewClass()" *ngIf="!isOnUpdate">Add Class</button>
    <button mat-raised-button color="primary" (click)="changeClass()" *ngIf="isOnUpdate">Update</button>
    <br>
    <br>
    <br>
  
    <button mat-stroked-button (click)="clear()" value="Reset">Reset</button>
    
 
      
    
    
  </form>
