<h2>Manage Teacher Information</h2>
<br>


<mat-form-field appearance="outline">
  <mat-label>Search ID Number</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex.  T00001">
</mat-form-field>

<br>

<div class="list mat-elevation-z8">

  <h4 style="padding-top: 20px;">Deleted Teachers List</h4><br>

  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID Number </th>
      <td mat-cell *matCellDef="let teacher"> {{teacher.tid}} </td>
    </ng-container>

    
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let teacher"> {{teacher.fname}} </td>
    </ng-container>

    
    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let teacher"> {{teacher.lname}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let teacher"> {{teacher.phone}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let teacher">
            <a mat-raised-button color="primary" style="background-color: #f69223;" (click)="deleteTeacher(teacher._id)">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

</div>





    