<mat-form-field appearance="outline">
    <mat-label>Search name</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. suhara">
  </mat-form-field>
  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="border-radius: 50px;">

    <!-- RegNo Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *ngFor="let student of dataSource"> {{student.id} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *ngFor="let student of dataSource"> {{student.fname}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let student">
        <a mat-stroked-button color="primary" routerLink=".">Update</a>
        <a mat-stroked-button style="color: #f69223;" (click)="delete()">Delete</a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  