

.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    float: left;
    top: 93px;
    
}


.headerviewt{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f69223;
    font-family: 'IM Fell French Canon SC', serif;
    margin-bottom: 50px;
}

.joining{

    /* margin-top: 30px; */
    background: #ffffff;
    border-radius: 10px;
    padding-left: 100px;
    padding-top: 80px;
}