<h2>Manage Teacher Information</h2>
<br>

<div class="container-fluid">
  <div class = row>
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex.Teachers ID or Name">
    </mat-form-field>
  </div> 
</div>
  

<br>

<div class="list mat-elevation-z8">

  <h4 style="padding-top: 20px;">Teachers List</h4><br>

  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID Number </th>
      <td mat-cell *matCellDef="let teacher"> {{teacher.tid}} </td>
    </ng-container>

    
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let teacher"> {{teacher.fname}} </td>
    </ng-container>

    
    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let teacher"> {{teacher.lname}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let teacher">
        <a mat-stroked-button color="primary" (click)="detailsTeacher(teacher._id)">Details</a>
        <a mat-raised-button color="primary" (click)="updateTeacher(teacher._id)">Edit</a>
        <a mat-raised-button color= "warm" style="background-color: #f69223;" (click)="openDialog(teacher._id)">Clear</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

</div>





    