
.heading{
    text-align: left;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 45px;
  }
  .body{
    padding-left: 5%;
    padding-right: 50%;
  }
  .body2{
    padding-left:  5%;
    padding-right: 10%;
    padding-bottom: 10%;
  }
  
  .tableMarks{
    padding-left: 10%;
    padding-right: 10%;
    
  }
  th{
    padding-right: 75px;
  }
  
  td{
    padding-right: 75px;
  }